# Logs
logs
*.log
npm-debug.log*



# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Webstorm
.idea

# CodeMix & VSCode
.settings
.vscode
.project

# ROS
ros
install
build
logs
log

# rplidar_ros_rclnodejs
install_support/tmp
dist


